<footer>
  <div class="container text-center">
  <p>&copy; 2013. - <%= Time.now.year %>. Effectiva studio d.o.o.</p>
  <ul class="list-inline">
    <li class=""> <a href="https://htmlpdfapi.com/terms_of_service" target="_blank">Terms of service</a> </li>
    <li class=""> <a href="https://htmlpdfapi.com/privacy_policy" target="_blank">Privacy Policy</a> </li>
    <li class=""> <a href="https://htmlpdfapi.com/imprint" target="_blank">Imprint</a> </li>
  </ul>
  </div>
</footer>