<header class="jumbotron text-center">
	<div class="container">
	  <a href="https://htmlpdfapi.com/" class="lang-logo" target="_blank">
	    <img src="https://htmlpdfapi.com/assets/htmlpdfapi_logo-47f8eb1e6ec465418f03fe62614d3797.png">
	  </a>
	  <h1>Callback example</h1>
	  <p>HTML PDF API is a service that allows you to convert HTML to PDF using standard technologies (HTML, CSS and JavaScript)</p>
	</div>
</header>